%h1 Request Password Reset

%p You may request a password reset by filling in your email below

= form_tag send_password_reset_path, :method => :post do
  = label_tag :email
  = email_field_tag :email
  = submit_tag 'Request Reset'